JuceLibraryCode
.DS_Store
.idea
cmake-build-*

NativeAndroidJuceSample/Builds

NativeNavigation/Builds/AndroidStudio/.gradle
NativeNavigation/Builds/AndroidStudio/AndroidStudio.iml
NativeNavigation/Builds/AndroidStudio/app/.cxx
NativeNavigation/Builds/AndroidStudio/app/app.iml
NativeNavigation/Builds/AndroidStudio/app/build.gradle
NativeNavigation/Builds/AndroidStudio/app/build
NativeNavigation/Builds/AndroidStudio/app/CMakeLists.txt
NativeNavigation/Builds/AndroidStudio/app/src/main/AndroidManifest.xml
NativeNavigation/Builds/AndroidStudio/app/src/main/jni
NativeNavigation/Builds/AndroidStudio/build.gradle
NativeNavigation/Builds/AndroidStudio/gradle
NativeNavigation/Builds/AndroidStudio/gradlew
NativeNavigation/Builds/AndroidStudio/gradlew.bat
NativeNavigation/Builds/AndroidStudio/local.properties
NativeNavigation/Builds/AndroidStudio/settings.gradle